.add-btns-container {
    position: absolute;
    width: 15vw;
    height: 15vh;
    bottom: 0%;
    right: 0%;
    display: flex;
    justify-content: right;
    align-items: end;
}

.add-btn {
    width: 5vw;
    height: 5vw;
    background-color: var(--primary-color);
    box-shadow: var(--secondary-color) 2px 2px 8px 2px;
    color: var(--text-color);
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.add-btn svg {
    width: 80%;
    transition: all ease 1s;
    position: relative;
    right: 0px;
    bottom: 0px;
}

.add-task-btn {
    position: absolute;
    width: 5vw;
    bottom: 6vw;
    right: 3vw;
    transform: rotate(0) !important;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5vw;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: var(--primary-color);
    transition: all ease .5s;
    z-index: 1;
}

.add-habit-btn {
    position: absolute;
    width: 5vw;
    bottom: 6vw;
    right: 3vw;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.5vw;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background-color: var(--primary-color);
    transition: all ease .25s;
    z-index: 1;
}

.hidden {
    height: 0vw;
    color: transparent;
}

.shown {
    height: 6vw;
    color: var(--text-color);
}

.rotate {
    transform: rotate(270deg);
    right: 7vw;
    bottom: 2.5vw;
}

.re-rotate {
    transform: rotate(-270deg);
    bottom: 6vw;
    right: 3vw;
}

@media (orientation: portrait) {
    .add-btn {
        width: 15vw;
        height: 15vw;
    }

    .add-task-btn {
        width: 15vw;
        font-size: 4.5vw;
    }

    .add-habit-btn {
        width: 15vw;
        font-size: 4.5vw;
    }

    .shown {
        height: 24vw;
    }

    .rotate {
        bottom: -1.5vw;
        right: 10vw;
    }
}