[data-theme="dark"] .addBtn {
  box-shadow: none;
}
.countainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.time-periods {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  gap: 2vw;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color ease 1s;
}
.active {
  border-bottom: 1px var(--text-color) solid;
  transform: scale(0.8);
  padding-bottom: 2%;
}

.addBtn {
  width: 5vw;
  height: 5vw;
  background-color: var(--primary-color);
  box-shadow: var(--secondary-color) 2px 2px 8px 2px;
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addBtn svg {
  width: 80%;
  transition: all ease 1s;
  position: relative;
}

.clear-all {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 2vh;
  right: 2vh;
  cursor: pointer;
  transition: all ease 0.2s;
}
.clear-all:hover{
  transform: scale(1.2);
}

@media (orientation: portrait) {
  .countainer {
    width: 100vw;
  }
  .addBtn {
    width: 15vw;
    height: 15vw;
  }
  .clear-all{
    width: 10vw;
    height: 10vw;
  }
}
