.countainer {
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.active{
  border-bottom: 1px black solid;
  transform: scale(.8);
  padding-bottom: 2%;
}
.time-periods{
  display: flex;
  gap: 2vw;
}
