.toggle-ables {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  gap: 2vw;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color ease 1s;
}

.active-toggle {
  border-bottom: 1px var(--text-color) solid;
  transform: scale(0.8);
  padding: 1vh;
}