.modal-countainer {
  width: 50vw;
  height: 40vh;
  background-color: var(--primary-color);
  box-shadow: var(--secondary-color) 1px 1px 8px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.header {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}
.body {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.btn {
  height: 25%;
  width: 100%;
  display: flex;
  position: relative;
}
.body input {
  width: 50%;
  height: 35%;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  box-shadow: var(--bg-color) 2px 2px 8px 2px;
  color: var(--text-color);
  border-radius: 5vw;
  padding-left: 2vw;
  font-size: large;
}
.btn button {
  width: 11%;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #2ecc71;
  color: var(--bg-color);
  border-bottom-right-radius: 30px;
  border: none;
}
.radio-countainer {
  display: flex;
  gap: 5px;
}
.radio {
  box-shadow: none !important;
}
.dailyTimePeriod {
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.dailyTimePeriod input {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.dailyTimePeriod label {
  cursor: pointer;
}
.weeklyTimePeriod {
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.weeklyTimePeriod input {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.weeklyTimePeriod label {
  cursor: pointer;
}
.monthlyTimePeriod {
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.monthlyTimePeriod input {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.monthlyTimePeriod label {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10%;
  height: 20%;
  background-color: #e74c3c;
  color: var(--bg-color);
  border-top-left-radius: 30px;
  border: none;
}
.close-btn svg {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-radio-countainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.color {
  width: 3vh;
  height: 3vh;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 1vh;
  box-shadow: var(--text-color) 1px 1px 2px 1px;
  transition: all ease-out 0.2s;
}
.color .active {
  border: 2px var(--text-color) solid;
  box-shadow: var(--text-color) 1px 1px inset;
}

@media (orientation: portrait) {
  .modal-countainer {
    width: 90%;
    height: 25%;
    border-radius: 5px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
  }
  .header h1 {
    font-size: x-large;
  }
  .body input {
    width: 80%;
  }
  .color{
    margin-top: 0px;
  }
}
@media (max-width: 1000px) {
  .header h1 {
    font-size: large;
  }
}
